<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>ViewControllers/BaseViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>./ViewControllers/BaseViewController.h</string>
		</dict>
		<key>ViewControllers/BaseViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>./ViewControllers/BaseViewController.m</string>
		</dict>
		<key>ViewControllers/HomeViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>./ViewControllers/HomeViewController.h</string>
		</dict>
		<key>ViewControllers/HomeViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>./ViewControllers/HomeViewController.m</string>
		</dict>
		<key>ViewControllers/SettingsViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>./ViewControllers/SettingsViewController.h</string>
		</dict>
		<key>ViewControllers/SettingsViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>./ViewControllers/SettingsViewController.m</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>A SenseForce template. This template provides a starting point for an application that uses a tab bar. It provides a user interface configured with a tab bar controller, and view controllers for the tab bar items.</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.sfTabbedApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Info.plist:statusBarTintForNavBar</string>
		<string>ViewControllers/BaseViewController.h</string>
		<string>ViewControllers/BaseViewController.m</string>
		<string>ViewControllers/HomeViewController.h</string>
		<string>ViewControllers/HomeViewController.m</string>
		<string>ViewControllers/SettingsViewController.h</string>
		<string>ViewControllers/SettingsViewController.m</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main_iPad.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
						<key>Base.lproj/Main_iPhone.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
						<key>Images.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Images-Universal.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
						<key>Images.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Images-iPad.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
						<key>Images.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Images-iPhone.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
